<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Team | IceCream</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{url_for('static',filename='animate.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='font-awesome.min.css')}}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
		<script src="{{url_for('static',filename='jquery.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <script src="{{url_for('static',filename='single.min.js')}}"></script>
		<script src="{{url_for('static',filename='typed.js')}}"></script>
		<script src="{{url_for('static',filename='wow.min.js')}}"></script>
		<script src="{{url_for('static',filename='custom.js')}}"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->

        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Team | IceCream</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#top">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#team">TEAM</a></li>
						<li><a href="#service">SERVICE</a></li>
						<li><a href="#portfolio">PORTFOLIO</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->

    	<!-- start home -->

    	<section id="home">

    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"><span>Team IceCream</span> is a team of passionate Software Engineers</h1>
    					<div class="element">
                            <div class="sub-element"><h3>We can help you implement the next great idea.</h3></div>

                            <div class="sub-element"><h3>If you interested to work with ous then,You may also join with us.</h3></div>
                        </div>
    					<a data-scroll href="{{url_for('join_us')}}" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">Join The Team</a>
    				</div>
    			</div>

			</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">We help organizations build reliable  Python based web applications.</h2>
    				</div>
						<p>Python is one of our favourite choices for scripting, web application development, scientific and niche applications. Our company culture supports active involvement and thorough understanding of the Python open source community, which makes for happy developers and happy business owners.</p>

						<h1>Our Visions  </h1>

					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">

							<div class="media-heading-wrapper">

								<h3 class="media-heading">Web Development</h3>
							</div>
							</div>

						</div>

					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">

								<h3 class="media-heading">IoT Development</h3>
							</div>

						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">

								<h3 class="media-heading">Games Development</h3>
							</div>

						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">

								<h3 class="media-heading">Machine Learning</h3>
							</div>

						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">

								<h3 class="media-heading">Artificial Intellegence</h3>
							</div>

						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">

								<h3 class="media-heading">Data Science</h3>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>Team | IceCream</span></h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="{{url_for('static',filename='images/rahi.jpg')}}" class="img-responsive" alt="team img 1">
    							<div class="team-des">
    								<h4><span>Imran Hasan (Rahi)</span></h4>
    								<span>Founder & CEO</span>
    								<p> </p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="{{url_for('static',filename='images/mithun.jpg')}}" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h4><span>Mithun Roy</span></h4>
    								<span>CTO & Developer</span>
    								<p> </p>
    							</div>
    					</div>
    				</div>
						<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
							<div class="team-wrapper">
								<img src="{{url_for('static',filename='images/alamin.jpg')}}" class="img-responsive" alt="team img 2">
									<div class="team-des">
										<h4><span>Ahmed Alamin</span></h4>
										<span>Advisor & Developer</span>
										<p> </p>
									</div>
							</div>
						</div>


						<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
							<div class="team-wrapper">
								<img src="{{url_for('static',filename='images/asif.jpg')}}" class="img-responsive" alt="team img 2">
									<div class="team-des">
										<h4><span>Asif Al-Farabi</span></h4>
										<span>Junior Designer</span>
										<p> </p>
									</div>
							</div>
						</div>


    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>AWESOME</span> THINGS</h2>
    				</div>
						<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
						<img	class="fa fa-mobile"	src="{{url_for('static',filename='images/webdesign.png')}}" alt="">

						 <h4>Web Design & UX</h4>

							<p>

							Website design and UX is two major element of your online presence. The It’s website is useless if it doesn’t improve the user experience.

							Our  creative Developer will create your website design by focusing on providing the best user experience on the web. So your visitor will come back after using a website for more.
							   </p>
						</div>


  				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
						<img	class="fa fa-mobile"	src="{{url_for('static',filename='images/flask.png')}}" alt="">

						 <h4>Flask Web Development</h4>

    					<p>Flask is a Python micro-framework which does not require any particular third party tools or components. While many extensions exist for common tasks such as object-relational mapping, form validation and upload handling, Flask itself is lightweight and highly customisable. Its small and non-intrusive nature makes it ideal for niche apps, and its track record includes Pinterest and LinkedIn. </p>
    				</div>
    				<div class="col-md-4  wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
							<img class="fa fa-mobile"
						 src="{{url_for('static',filename='images/django.png')}}" alt="">



							<h4>Django Web Development</h4>
							<p>
								Django is an open-source high-level Python web framework that focuses on rapid development and clear design. Using Django simplifies the process of creating a complex, database-driven web application, providing optional modules such as authentication and CRUD, while keeping in line with a consistent Python philosophy. Any such application will be scalable and versatile, with successful Django projects ranging from CMS platforms to scientific computing platforms.</p>
						 </div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
							<img class="fa fa-mobile"
						 src="{{url_for('static',filename='images/iot.png')}}" alt="">
    					<h4>IOT(Internet of Things)</h4>
    					<p>
Internet of Things – smarter and more sustainable societies.

Our physical environment can be made smarter, more efficient and more sustainable by getting connected. The Internet of Things (IoT) refers to the connection of products to the internet so that they can communicate with each other, a company or users. <h5>Team IceCream </h5> is also an  IoT operators, and delivers IoT solutions in several markets.
</p>
    				</div>


						<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
							<img class="fa fa-mobile"
						 src="{{url_for('static',filename='images/android.jpg')}}" alt="">
							<h4>Android App Development</h4>
							<p>
								We Build Android Mobile Application REALLY FAST
No matter the complexity of your business workflow or industry type,<h5>Team IceCream </h5> has 100% custom technology solutions for your business's unique requirements. Go from idea to development and deployment in a matter of days or weeks and not months as traditional Android mobile app development takes.
				</p>
						</div>

						<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
							<img class="fa fa-mobile"
						 src="{{url_for('static',filename='images/desktop.png')}}" alt="">
							<h4>Desktop App Development</h4>
							<p>


								We develop a wide range of business and service application, promotion applications for advertisement of products or services, applications for banking systems, Shop Management, and other desktop solutions on demand to increase your business growth in this competitive world.   Our Desktop application will be user-friendly and there is no need of specific skills to manage it.

								Ability to fulfil your dreams in a short term, excellent quality of the final product and competitive prices make Easyway Information the best partner in desktop application development.

				</p>
						</div>



    			</div>
    		</div>
    	</section>
    	<!-- end servie -->

    	<!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>Team | IceCream</span> PORTFOLIO</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
    					   <img src="{{url_for('static',filename='images/pic3.jpg')}}" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4> </h4>
                                    <p> </p>
                                    <a href="#" class="btn btn-default"></a>
                                </div>
                        </div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{{url_for('static',filename='images/pic2.jpg')}}" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4> </h4>
                                    <p> </p>
                                <!--    <a href="#" class="btn btn-default"</a>-->
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{{url_for('static',filename='images/pic1.jpg')}}" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4></h4>
                                    <p> </p>

                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="{{url_for('static',filename='images/pic4.jpg')}}" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4></h4>

                                </div>
                        </div>
                    </div>




    			</div>
    		</div>
    	</section>
    	<!-- end portfolio -->

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>Team | IceCream</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="" method="POST">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">

                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">

                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>

                            <input type="submit" class="form-control">
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>

    						<p ><i></i>+8801726744303</p>
    						<p><i></i> zanjarwhite@gmail.com</p>
    						<p><i></i>Canteen of Feni Computer Institute,Feni,Chittagong,Bangladesh</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="http://www.facebook.com/icerahi" >facebook</a></li>

    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; 2018 Team | IceCream | Developed by: <a href="http://www.facebook.com/icerahi" target="_parent">Imran Hasan(Rahi)</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->
				{% for message in get_flashed_messages() %}
		      <script>
		        alert("{{ message }}");
		      </script>
		    {% endfor %}
	</body>
</html>
